.button:hover {
    background-color: #2196f3;
    color: white;
}

.button {
    color: black;
    background-color: #f5f4fa;
    border: 1px;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
}

.button:focus {
    background-color: #2196f3;
}

.link:hover {
    color: #2196f3;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 1.15;
    font-weight: 500;
}

.list-button {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.email-tel {
    text-decoration: none;
    color: #757575;
}

.body-portfolio {
    background-color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    width: 1600px;
    height: 1880px;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
}

.main-portfolio {
    width: 1170px;
    background-color: white;
    margin: 0 auto;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.header-portfolio {
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #ececec;
    display: flex;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    margin-left: 93px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation-info {
    padding-right: 43px;
}

.navigation-email-tel {
    padding-left: 227px;
    padding-top: 32px;
    padding-bottom: 32px;
}

div > a {
    padding-right: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-logo {
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-logo-bottom {
    padding-top: 64px;
    padding-left: 215px;
}

.main-logo:hover {
    color: #2196f3;
}

.main-logo:focus {
    background-color: #2196f3;
}

figcaption {
    font-size: 18px;
    color: black;
    line-height: 2;
    font-weight: 700;
}

.second-caption-pictures {
    font-size: 16px;
    color: #757575;
    line-height: 1.9;
    font-weight: 400;
}

.list-pictures {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}

footer {
    background-color: #2f303a;
    padding-top: 60px;
    height: 252px;
    margin-top: 94px;
}

address {
    font-size: 14px;
    line-height: 2;
    color: white;
    padding-left: 215px;
}

.email-tel-bottom {
    padding-left: 215px;
    line-height: 1.7;
}

.logo-color {
    color: #2196f3;
}

.list-pictures-element {
    border: 1px solid #eeeeee;
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
}

/* index.html */

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    background-color: #2f303a;
    color: white;
}

.information {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.15;
}

.information-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.second-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
